# Java & Maven
/target/
*.log
*.jar
*.class

# Logs
logs/
*.log

# Sistema operativo
.DS_Store

# Configs sensibles o temporales
database.yml
application.properties
application.yml

# IDEs
.idea/
*.iml
.vscode/


Dockerfile
mysql_data/
